version: '2.4'

services:
  api:
    image: node:alpine
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - 3000:3000
    depends_on:
      - db
    networks:
      - backend
    cpus: 0.5
    mem_limit: 50m
    mem_reservation: 25m
    command: sh -c "sleep 20 && npm run start"

  db:
    image: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=12345678
    volumes:
      - dbdata:/data/db
    mem_limit: 50m
    mem_reservation: 25m
    networks:
      - backend

  db-seed:
    build: ./data
    networks:
      - backend
    depends_on:
      - db

networks:
  backend:

volumes:
  dbdata:
  node_modules:
